@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

html {
    color: white;
    background-color: black;
    font-size: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
    text-align: center;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin: 0;
}

header {
    color: black;
    background-color: white;
    padding: 0.5rem 0;
}

.headerLink {
    text-decoration: none;
}

a header:hover {  
    background-color: orange;
}

h1 {
    font-size: 6rem;
    margin: 6rem 3rem 1rem 3rem;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
}

.description a {
    text-decoration: none;
    color: orange;
}

.description a:active {
    color: white;
}

h2 {
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
}

.programType p {
    margin: 0 0 2rem 0;
}

.programType a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.programType a:hover {
    color: orange;
}

.programType a:active {
    color: white;
}

.content {
    flex: 1; /*Ensures the footer stays at the bottom by making the content fill all the remaning space and consequently enables scrolling if vh/vw is lowered*/
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    width: 100%;
    background-color: white;
    color: black;
    margin: 2rem 0 0 0;
 
}

footer p {
    padding: 0 1rem 0 1rem;
}

@media screen and (max-width: 910px) {
    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 3rem;
    }

    .description {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 2rem
    }

    .programType a {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 2.5rem;
    }

    .description {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.5rem
    }
}

@media screen and (max-width: 436px) {
    h1 {
        font-size: 2.0rem;
    }
    
    .description {
        font-size: 0.7rem;
    }

    h2 {
        font-size: 1.2rem
    }
}

@media screen and (max-width: 376px) {
    h1 {
        font-size: 1.8rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .description {
        font-size: 0.6rem;
    }
    
    h2 {
        font-size: 1.0rem
    }

    .programType a {
        font-size: 1.0rem;
    }
}

@media screen and (max-width: 336px) {
    h1 {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.5rem;
    }
    
    h2 {
        font-size: 0.8rem
    }

    .programType a {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.5rem;
    }
    
}